<h2>Moooooooo!</h2>
<br>
<form action='/cow-demo' method='post'>
  <fieldset>
    <legend>What would you like your cow to say?</legend>
    <input type='text' id='text-to-cowify' name='text-to-cowify'><br>
  </fieldset>
  <br>
  <input type='submit' value='CowMAZE Me!'>
</form>


